<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <div style="
    padding-top: 10px;
    text-align: center;
  ">
      <img
        src="https://mateuszroth.pl/img/profile.jpeg"
        width="150" style="border-radius: 50%; padding-bottom: 10px;" />
      <div>
        <a href="https://www.linkedin.com/in/mateuszroth" target="_blank">Linkedin</a> | <a href="https://github.com/mateuszroth" target="_blank">Github</a> | <a href="https://www.facebook.com/mateuszroth" target="_blank">Facebook</a>
      </div>
  </div>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
</aside>